@font-face{
    font-family: 'BellaBoo';
    src: url('./assets/fonts/bellaboo-1.ttf');
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('./assets/fonts/AnonymousPro-Regular.ttf');
}

@font-face {
  font-family: 'AnonymousProBold';
  src: url('./assets/fonts/AnonymousPro-Bold.ttf');
}

:root{
  --bg-primary-color: #f8f8f8;
  --bg-secondary-color: #111;
  --text-primary-color: #111;
  --height-header-aside: 150px;
  --height2-header-aside: 170px;
  --breakpoint-640: 640px;
  --breakpoint-768: 768px;
  --breakpoint-900: 900px;
  --breakpoint-1024: 1024px;
  --main-width: 80%;
}

*{
  box-sizing: border-box;
}

body{
    margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}